<nav class="navbar">
  <div class="nav-container">
    <a routerLink="/" class="nav-logo">
      <img routerLink="/" class="nav-logo-brand" src="assets/images/LogoOficial.png" alt="Logo Hermes">
      <span routerLink="/" >HERMES</span>
    </a>

    <div class="nav-menu">
      <a routerLink="/" fragment="how-it-works" class="nav-link">Como funciona</a>
      <a routerLink="/" fragment="benefits" class="nav-link">Vantagens</a>
      <a routerLink="/" fragment="pricing" class="nav-link">Planos</a>
      <a routerLink="/" fragment="support" class="nav-link">Suporte</a>
    </div>

    <div class="nav-menu-auth">
      <a routerLink="/auth/login" class="nav-join">Entrar</a>
      <a routerLink="/auth/cadastro" class="nav-link-auth btn-nav">Criar Conta</a>
    </div>
  </div>
</nav>